html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.acordeon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
}

.acordeon .container{
    max-width: 655PX;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    padding: 30px 40px 20px 0;
    border-radius: 2.1rem;
    gap: 40px;
}

.img-acordeon{
    margin-left: -90px;
}

.acordeon .container .perguntas .title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.acordeon .container .perguntas .pergunta a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acordeon .container .perguntas .pergunta a .seta{
    width: 15px;
    height: 10px;
    margin-left: 41px;
    transform: rotate(-90deg);
    -webkit-transition: transform 400ms ease;
    transition: transform 400ms ease;
}

.acordeon .container .perguntas .pergunta{
    margin-bottom: 15PX;
}

.acordeon .container .perguntas .pergunta a h2{
    font-size: 1.7rem;
    font-weight: 500;
}

.acordeon .container .perguntas .pergunta a h2:hover{
    color: orange;
}

.acordeon .container .perguntas .pergunta .info{
    font-size: 1.5rem;
    width: 350px;
    margin: 10PX 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 400ms ease;
    transition: height 400ms ease;
}

.acordeon .container .perguntas .pergunta.ativo .info{
    height: 50px;
}

.acordeon .container .perguntas .pergunta.ativo .seta{
    transform: rotate(1deg);
    filter: opacity(0.5) drop-shadow(0 0 0 orange) contrast(2)
}









